# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

pink/tags
pink/output/
pink/example/*.pb.h
pink/example/*.pb.cc
pink/example/output/
pink/example/cli/cli
pink/example/performance/client
pink/example/performance/message.pb.cc
pink/example/performance/message.pb.h
pink/example/performance/server
